@import url(https://fonts.googleapis.com/css?family=Open%20Sans);
@import "../_variables";

.wrapper {
  position: relative;

  height: 100%;
  margin: 0 auto;
  width: 85%;

  background-color: #F6F6EF;

  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

  @media #{$mobile-only} {
    width: 100%;
    background-color: #fff;
  }
}
